* {
    margin: 0;
    padding: 0;
}

/* Calculator Container */
.calculator-container {
    border: 2px solid rgb(73, 0, 0);
    width: 800px;
    margin: 50px auto;
    background-color: rgb(231, 231, 255);
    border-radius: 19px;
}

hr{
    margin-left: 20px;
    margin-bottom: 20px;
    width: 95%;
    height: 1px;
    background-color: grey;
    border: none;
}

/* input sectuon */
.input-section {
    width: 100%;
}

/* input tag */
.input-section input {
    width: 93%;
    height: 80%;
    display: block;
    margin: 20px auto;
    margin-bottom: 5px;
    font-size: 70px;
    text-align: right;
    padding: 10px 5px;
    background-color: transparent;
    border: none;
    border-radius: 19px;
}

/* input placeholder */
input::placeholder{
    color: black;
}

/* input in focus */
.input-section input:focus {
    outline: none;
}

/* button section */
.button-section {
    width: 100%;
    padding: 0 15px;
    box-sizing: border-box;
    padding-top: 0;
}

/* row section */
.button-section .row {
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
}

/* last row section */
#last-row{
    margin-bottom: 23px;
}

/* button */
button {
    font-weight: 600;
    padding: 10px;
    width: 180px;
    height: 60px;
    font-size: 25px;
    border-radius: 15px;
    border: 1px solid rgb(92, 92, 92);
    cursor: pointer;
}

/* button hover */
button:hover {
    background-color: rgb(212, 212, 212);
    transition: 0.2s;
}

button:active {
    background-color: rgb(180, 180, 180);
}

#first-row #allClear {
    width: 180px;
    background-color: blueviolet;
    color: #fff;
}

#first-row #allClear:hover {
    background-color: rgb(122, 38, 201);
}

#first-row #allClear:active {
    background-color: rgb(103, 31, 170);
}

#first-row #delete {
    width: 180px;
    background-color: blueviolet;
    color: #fff;
}

#first-row #delete:hover {
    background-color: rgb(122, 38, 201);
}

#first-row #delete:active {
    background-color: rgb(103, 31, 170);
}

#first-row .equal {
    width: 180px;
    background-color: green;
    color: #fff;
}

#first-row .equal:hover {
    background-color: rgb(0, 155, 0);
    transition: 0.2s;
}

#first-row .equal:active {
    background-color: rgb(0, 131, 0);
}

.operator {
    font-size: 30px;
    background-color: cornflowerblue;
    color: #fff;
}

.operator:hover {
    background-color: rgb(85, 126, 202);
    transition: 0.2s;
}

.operator:active {
    background-color: rgb(67, 100, 160);
}

#first-row #paranthisis{
    width: 85px;
}
#first-row{
    display: flex;
    justify-content: space-around;
}